// 文本省略
@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 多行文本省略
@mixin text-ellipsis-multiple($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

// 文本禁止选择
@mixin text-no-select {
  user-select: none;
  -webkit-user-select: none;
} 